<div class="container">
	<div class="row clearfix">
		<div id="impress" class="column full">
			<h1>Guide</h1>
			<p>
				Dieser Teil von <b>Djoya</b> befindet sich noch im Aufbau.<br>
				Wir befinden uns aktuell noch in einer Testphase und bitten dich noch um ein klein wenig Geduld bis wir so richtig loslegen können :)
			</p>
		</div>
	</div>
</div>
