<div class="container">
	<div class="row clearfix">
		<div id="impress" class="column full">
			<div class="slider-container">
				<ul class="bxslider">
				  <li><img  src="/images/tutorial1_400.jpg" /></li>
				  <li><img  src="/images/tutorial2_400.jpg" /></li>
				  <li><img  src="/images/tutorial3_400.jpg" /></li>
				</ul>
			</div>
		</div>
	</div>
</div>
