<div id="welcomeContainer"></div>
<div id="welcomeContainerFilter"></div>
<div id="welcomeContainerText">
	<h1 id="logo"><a href="/">Djoya</a></h1>
	<h2>Die App, die dir zeigt,<br>was hier und jetzt abgeht.</h2>
</div>
<div id="registrationContainer">
	<div class="container">

	<div class="row clearfix">
		<div class="column half loginRegisterBox">
		<h2>Du möchtest dich anmelden?</h2>
		<p class="error"><i class="fa fa-exclamation-circle fa-fw"></i>Überprüfe bitte noch einmal ob du deine Anmeldedaten richtig eingegeben hast.</p>
			<form action="/login" method="POST">
				<input type="text" name="username" maxlength="20" placeholder="Benutzername" required autocomplete="off" autofocus<br>
				<input type="password" name="password" placeholder="Passwort" pattern=".{7,}" required autocomplete="off"><br>
				<input type="submit" value="Anmelden"><br>
			</form>
		</div>
	<div class="column half loginRegisterBox">
		<h2>Du hast noch keinen Account?</h2>

			<form action="/register" method="POST">
				<input type="text" name="username" maxlength="20" placeholder="Benutzername" required autocomplete="off"<br>
				<input type="password" name="password" placeholder="Passwort (mindestens 7 Zeichen)" pattern=".{7,}" required autocomplete="off"><br>
				<input type="password" name="password2" placeholder="Wiederholung des Passwortes" pattern=".{7,}" required autocomplete="off"><br>
				<input type="checkbox" name="privacyEnabled" value="true">Ich möchte die Privatsphäreoptionen aktivieren<br><br>
				<!--<input type="checkbox" name="locationEnabled" value="true">Ich möchte, dass mein Standort unter keinen Umständen gespeichert wird.<br>-->
				<input type="submit" value="Registrieren"><br>
			</form>
		</div>
	</div>

</div>
</div>
