<div id="loadedContentBox">

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}

<form id="newEventForm">
	<input type="text" name="title" value="" placeholder="Titel" required></input>
	<textarea name="description" required maxlength="300" placeholder="Beschreibung"></textarea>
	<input type="number" min="0" max="100" name="price" value="" placeholder="Preis in €"></input>
	<input type="time" name="time" required></input>
	<div id="mapnewevent"></div>
	<p>Hier fehlt noch ein Bilder upload.</p>
	<div id="neweventsubmit">Event erstellen</div>
</form>

</div>
