* {
    margin: 0;
    padding: 0;
}
header {

}
body {
	color: black;
	background: ;
	text-align: center;
	font-size: 15pt;
	font-family: 'Lato', sans-serif;
}
nav {
	height: 40px;
    width: 100%;
    background: linear-gradient(#dd404a, #bd1c25);
    font-size: 11pt;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    position: relative;
}
nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}
nav li {
    display: inline;
    float: left;
}
nav a {
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
nav li a {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
nav li:last-child a {
    border-right: 0;
}
nav a:hover, nav a:active {
    background-color: linear-gradient(#dd404a, #bd1c25);
}
nav a#pull {
	display: none;
}
@media only screen and (max-width : 600px) {
	nav {
		border-bottom: 0;
		height: auto;
	}
	nav ul {
		width: 100%;
		display: none;
		height: auto;
	}
	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
	nav a#pull {
		display: block;
		background-color: linear-gradient(#dd404a, #bd1c25);
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		text-align: center;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

@media only screen and (max-width : 480px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
}
#description {
	float: auto;
	width: 50%;
	color: black;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
  	margin-top: 100px;
}
#description p{
	margin-top: 20px;
	color: #5b604f;
}
#description h2{
	margin-top:10px;
	color: #5b604f;
}
#login {
	background: white;
	position: absolute;
	text-align: center;
	font-size: 12pt;
	border-color: black;
	border: 1px;
	right: 10px;
	top: 15px;
	padding: 5px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 5px;
	height: 30px;
	width: 60px;

    color: #dd404a;

    text-decoration: none;
}
#login:hover{
	background: #dd404a;
	color: white;
	cursor: pointer;
}
li a:hover {
    color: black;
}
#go {
	margin-top: 50px;
	color: white;
	font-size: 15pt;
	background: linear-gradient(#dd404a, #bd1c25);
	-moz-border-radius: 15px;
	-webkit-border-radius: 8px;
	padding: 20px;
	border: none;
	overflow: visible;
	cursor: pointer;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: block;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
