* {
    margin: 0;
    padding: 0;
}
header {

}
body {
	color: black;
	background: #e5e7e2;
	text-align: center;
	font-size: 15pt;
}
#logo {

}
#description {
	float: auto;
	width: 50%;
	color: black;
	text-align: center;
	margin-right: auto;
  	margin-left: auto;
  	margin-top: 100px;
}
#description p{
	margin-top: 20px;
	color: #5b604f;
}
#description h2{
	color: #5b604f;
}
li {
	display: inline-block;
}
li p {
	position: relative;
	font-family: "Georgia", Times, serif;
	color: #fff;
	font-size: 20pt;
	text-align: center;
}
ul {
	background: linear-gradient(#dd404a, #bd1c25);
    width: 100%;
	font-family: "Georgia",Times,serif;
	font-size: 10pt;
	font-style: italic;
	list-style: none;
	float: center;
	padding: 15px;
}
#login {
	background: white;
	position: absolute;
	text-align: center;
	font-size: 12pt;
	border-color: black;
	border: 1px;
	right: 10px;
	top: 15px;
	padding: 5px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 5px;
	height: 30px;
	width: 60px;

    color: #dd404a;

    text-decoration: none;
}
#login:hover{
	background: #dd404a;
	color: white;
}
li a:hover {
    color: black;
}
#go {
	margin-top: 50px;
	color: white;
	font-size: 15pt;
	background: linear-gradient(#dd404a, #bd1c25);
	-moz-border-radius: 15px;
	-webkit-border-radius: 8px;
	padding: 20px;
	border: none;
	overflow: visible;
}
